# Project dependencies
/estudosAleatorios/modulos/.cache
/estudosAleatorios/modulos/node_modules
/estudosAleatorios/modulos/yarn-error.log
/estudosAleatorios/modulos/package-lock.json

# Build directory
/estudosAleatorios/modulos/public
/estudosAleatorios/modulos/.DS_Store

