# Project dependencies
/estudosAleatorios/.cache
/estudosAleatorios/node_modules/
/estudosAleatorios/yarn-error.log
/estudosAleatorios/package-lock.json

# Build directory
/estudosAleatorios/public
/estudosAleatorios/.DS_Store

/estudosAleatorios/.vscode/
